../.VirtualBox/
../.atom/
../.bash_history
../.eclipse/
../.gitconfig
../.ivy2/
../.oracle_jre_usage/
../.p2/
../.sbt/
../.scala_history
../.scalaide/
../.sqldeveloper/
../.ssh/
../.tooling/
../.vagrant.d/
../.viminfo
../100 Songs-20180329T155700Z-001.zip
../3D Objects/
../650917.tmp/
../7e89ec6115e79b76c14.details
../7e89ec6115e79b76c14.notes
../AppData/
../Contacts/
../Desktop/
../Documents/
../Downloads/
../Favorites/
../HR.sql
../IntelGraphicsProfiles/
../Links/
../MicrosoftEdgeBackups/
../Music/
../NTUSER.DAT
../NTUSER.DAT{cd2d5df0-cc4f-11e7-95de-b0c4fcfd965d}.TM.blf
../NTUSER.DAT{cd2d5df0-cc4f-11e7-95de-b0c4fcfd965d}.TMContainer00000000000000000001.regtrans-ms
../NTUSER.DAT{cd2d5df0-cc4f-11e7-95de-b0c4fcfd965d}.TMContainer00000000000000000002.regtrans-ms
../OneDrive/
../Oracle/
../Pictures/
../Saved Games/
../Searches/
../Test.txt.txt
../V76290-01_1of4.zip.part
../Videos/
../VirtualBox VMs/
../Zero G Registry/
../cbe.7718167315e79df10b4
../defaultuser0/
../derby.log
../eclipse-workspace/
../eclipse/
../ia_remove.sh1001.tmp
../ia_remove.sh4147.tmp
../ia_remove.sh4224.tmp
../ia_remove.sh8242.tmp
../jasperserver.license
../metastore_db/
../ntuser.dat.LOG1
../ntuser.dat.LOG2
../ntuser.ini
../target_db.sql
